.header {
  margin-bottom: -3em;
  display: flex;
  flex-direction: column;
}

.header .stars {
  width: 100%;
}

img.avatar {
  opacity: 0.5;
  margin-bottom: 3%;
}

.avatar {
position: relative;
top: -7em;
display: flex;
align-items: center;
justify-content: center;
color:rgb(223, 200, 223);
text-shadow: 2px 0 black;
}

.compose {
  opacity: 0.5;
}
