.logo {
  font-family: 'Bungee', cursive, sans-serif;
  font-weight: 300;
  color: white;
  font-size: 50px;
  margin-left: 2%;
}
.new {
  color: white;
  font-size: 25px;
}

.btn {
  font-size: 35px;
  color: #f3ccff;
  cursor: pointer;
  background: none;
  border: none;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  color: #bc6bd4;
}


nav {
  background-color: rgb(80, 80, 175);
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.write-tweet {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}



/* @media all and (max-width: 790px) {
 body {

  }
} */


@media all and (max-width: 1024px) {
  nav {
    background-color: transparent;
    top: 0.5em;
    font-size: 40px;
  }
  .logo {
    font-size: 30px;
  }
  header {
    margin: none;
    /* margin-top: -15%; */
  }
  .header .stars {
    height: 400px;

  }

  div.avatar {
    height: 10%;
  }

  main.container {
    top: -5em;
  }
 
}

@media all and (min-width: 1025) {
  
}